services:
  mongodb:
    image: mongo:7.0.5
    container_name: calendar_mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: calendar
    volumes:
      - calendar_mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  mongo-express:
    image: mongo-express:1.0.2
    container_name: calendar_mongo_express
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - "8086:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:password@mongodb:27017/?authSource=admin
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    restart: always
volumes:
  calendar_mongo_data: