services:
  postgres:
    image: postgres:16
    container_name: auth_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: auth_service
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5432:5432"
    volumes:
      - auth_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U auth_user -d auth_service" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  auth_pg_data:
