services:
  postgres:
    image: postgres:16
    container_name: reservation_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: reservation_service
      POSTGRES_USER: reservation_user
      POSTGRES_PASSWORD: reservation_pass
    ports:
      - "5435:5432"
    volumes:
      - reservation_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U reservation_user -d reservation_service" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  reservation_pg_data:
